* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #881614;
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 70%;
    margin: 0 auto;
}
header {
    padding: 20px;
}
header img{
    width: 220px;
}
.top_nav {
    background: #909090;
    overflow: hidden;
    padding-left: 50px;
}
.top_nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}
.top_nav .border {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.top_nav a:hover {
    background-color: #ddd;
    color: black;
}
.left_side {
    float: left;
    width: 30%;
    padding: 20px;
    height: auto;
}
.right_side {
    float: left;
    width: 70%;
    padding: 30px;
    height: auto;
}
.image {
    width: 50%;
    margin: 50px 20px 30px 80px;
}
.responsive {
      width: 100%;
      height: auto;
  }
.about {
    margin-top: 60px;
    color: #fff;
    padding: 10px 10px 5px;
    font-size: 16px;
}
.about > p {
    padding-top: 15px;
}
.content {
    height: auto;
    margin-top: 20px;
    background: #96AFAC;
    margin-bottom: 10px;
}
.sidebar {
    float: left;
    width: 30%;
    padding: 30px 80px 20px 30px;
    height: auto;
}
.main_content {
    float: left;
    width: 70%;
    background: #DBD8C5;
    padding: 30px 40px;
    height: auto;
}
.main_content h2 {
    font-weight: 700;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #fff;
    display: block;
    border-bottom: 1px solid #ccc;
    -webkit-transition: .3ms;
    -moz-transition: .3ms;
    transition: .3ms;
}
.sidebar a:hover {
    color: #f1f1f1;
}
.main_content > h2 {
    color: #4b4b4b;
}
.main_content > p {
    padding: 15px 10px 10px 0;
    font-size: 16px;
    line-height: 1.4;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 768px) {
    .left_side {
       display: none;
    }
    .right_side {
        width: 100%;
        padding: 5px;
    }
    .about {
        margin-top: 5px;
        color: #fff;
        padding: 10px;
        font-size: 14px;
        text-align: center;
    }
    .sidebar {
        width: 100%;
    }
    .main_content {
        width: 100%;
    }
    .sidebar {
        padding: 0;
    }
    .sidebar a  {
        text-align: center;
        padding: 10px 0;
    }
}
@media only screen and (max-width: 589px) {
    .top_nav {
     padding: 0;
    }
    .top_nav a {
        width: 100%;
        display: block;
        color: #f2f2f2;
        text-align: center;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }
    .top_nav .border {
        border: none;

    }
}